.wrapper__body__news {
    height: 150px;
}

.header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.news__header {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}

.header span:first-child {
    font-size: 15px;
    margin-right: 5px;
    font-weight: 600;
    color: #55B2D4;
}

.header span:last-child {
    font-size: 6px;
    font-weight: 600;
}

.news__main {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
    height: 130px;
}

.wrapper__body__video {
    height: 260px;
}

.video__main {
    height: 80%;
    background-color: #C4C4C4;
}